/**
* css for assignment_1
*
* Tom Mahoney
* CIT360
* Assignment 1 - css
*
* Page is hosted and for assignment instructions see:
*
* https://tommaho.github.io/PCT_CIT360/Assignment_1/
*
*/



html {
    font-family: sans-serif;
}
ul {
    list-style: none;
}
.codeblock {
    background-color: lightgrey;

}